<?xml version="1.0"?>
<config>

	<modules>
		<Thycart_Subscription>
			<version>0.1.0</version>
		</Thycart_Subscription>
	</modules>

	<frontend>

		<routers>
			<thycart_subscription>
				<use>standard</use>
				<args>
					<module>Thycart_Subscription</module>
					<frontName>subscription</frontName>
				</args>
			</thycart_subscription>
		</routers>

		<layout>
            <updates>
                <thycart_subscription>
                    <file>subscription.xml</file>
                </thycart_subscription>
            </updates>
        </layout>

	</frontend>

	<admin>
		<routers>
			<subscription>
				<use>admin</use>
				<args>
					<module>Thycart_Subscription</module>
					<frontName>admin_subscription</frontName>
				</args>
			</subscription>
		</routers>		
	</admin>

	<adminhtml>
		<layout>
			<updates>
				<subscription>
					<file>subscription.xml</file>
				</subscription>
			</updates>
		</layout>
	</adminhtml>

	<global>
		<blocks>
			<blk_subscription>
				<class>Thycart_Subscription_Block</class>
			</blk_subscription>
		</blocks>
		<helpers>
			<subscription>
				<class>Thycart_Subscription_Helper</class>
			</subscription>
		</helpers>
		<models>
			<subscription>
				<class>Thycart_Subscription_Model</class>
				<resourceModel>subscription_resource</resourceModel>
			</subscription>
			<subscription_resource>
				<class>Thycart_Subscription_Model_Resource</class>
				<entities>
					<master>
						<table>subscription_master</table>
					</master>
					<unit>
						<table>unit_master</table>
					</unit>
					<subscriptioncustomer>
						<table>subcription_customer</table>
					</subscriptioncustomer>
				</entities>
			</subscription_resource>
		</models>
		<resources>
			<subscription_setup>
				<setup>
					<module>Thycart_Subscription</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</subscription_setup>
			<subscription_write>
				<connection>
					<use>core_write</use>
				</connection>
			</subscription_write>
			<subscription_read>
				<connection>
					<use>core_read</use>
				</connection>
			</subscription_read>
		</resources>
	</global>

</config>