<?xml version="1.0"?>
<config>
    <modules>
        <Test_Message>
            <version>0.1.1</version>
        </Test_Message>
    </modules>
    <frontend>
        <routers>
            <message>
                <use>standard</use>
                    <args>
                        <module>Test_Message</module>
                        <frontName>message</frontName>
                    </args>
            </message>
        </routers>
        <layout>
            <updates>
                <message>
                    <file>message.xml</file>
                </message>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <message>
                <use>admin</use>
                    <args>
                        <module>Test_Message</module>
                        <frontName>admin_message</frontName>
                    </args>
            </message>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <message module="message">
                <title>Message</title>
                <sort_order>100</sort_order>
                <children>
                    <message module="message">
                        <title>Message Detail</title>
                        <sort_order>1</sort_order>
                        <action>admin_message/adminhtml_message</action>
                    </message>
                </children>
            </message>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <message translate="title" module="message">
                            <title>Message</title>
                            <sort_order>0</sort_order>
                            <children>
                                <message translate="title">
                                    <title>Message Detail</title>
                                    <sort_order>1</sort_order>
                                </message>
                            </children>
                        </message>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <message>
                    <file>message.xml</file>
                </message>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <helpers>
            <message>
                <class>Test_Message_Helper</class>
            </message>
        </helpers>
        <blocks>
            <message>
                <class>Test_Message_Block</class>
            </message>
            <customer>
                <rewrite>
                    <form_register>Test_Message_Block</form_register>
                </rewrite>
            </customer>
        </blocks>
        <models>
            <message>
                <class>Test_Message_Model</class>
                <resourceModel>message_resource</resourceModel>
            </message>
            <message_resource>
                <class>Test_Message_Model_Resource</class>
                <entities>
                    <message>
                        <table>message</table>
                    </message>
                    <cmspage>
                        <table>cms_page_data</table>
                    </cmspage>
                </entities>
            </message_resource>
        </models>
        <resources>
            <message_setup>
                <setup>
                    <module>Test_Message</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </message_setup>
            <message_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </message_write>
            <message_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </message_read>
        </resources>
        <events>
            <cms_page_prepare_save>
                <observers>
                    <Test_Message_Model_Observer>
                        <type>singleton</type>
                        <class>Test_Message_Model_Observer</class>
                        <method>saveCmsPageObserve</method>
                    </Test_Message_Model_Observer>
                </observers>
            </cms_page_prepare_save>
        </events>
    </global>
</config>